@charset "UTF-8";

/* 
    Em HTML é id = em CSS é # 
    Em HTMl é class = em CSS é .
*/

body {
    background-color: rgb(172, 220, 177);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(16, 82, 23);
}

#principal {
    text-align: center;
    background: rgb(0, 150, 0);
    color: white;
}

h2 {
    color: rgb(7, 66, 13);
}

.basico {
    color: rgb(63, 140, 0);
}

.intermediario {
    color: rgb(173, 167, 0);
}

.avancado {
    color: rgb(125, 0, 0)
}

.destaque {
    text-decoration: underline;
}